# Node
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# Development
.git
.github
.vscode
.idea
*.md
!README.md

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build artifacts
**/dist
**/build
**/coverage 